{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "dashboard"|title %}{% endblock %}
{% block page_title %}
    <h1>{% trans "dashboard"|title %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3>{% trans 'dps requests'|capfirst %}</h3>
            <div class="panel panel-default">
                <div class="list-group">
                    {% for request in object_list %}
                        <a href="{% url 'medical_requests:dpsrequest_detail' request.id %}" class="list-group-item">{{ request }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                {% include "notifications/actions_list.html" %}
            <div class="row">
            </div>
                {% include "notifications/notifications_list.html" %}
            </div>
        </div>
    </div>
{% endblock %}
