{% load i18n %}

<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-plus-square"></span> {% trans "associated dps request"|capfirst %}
    </h3>
</div>
<ul class="list-group">
    <li class="list-group-item">
        {% trans "first aid association selected"|capfirst %} : {{ dpsrequest.first_aid_association.name }}
    </li>
</ul>
{% if dpsrequest.rescues_day_shift or dpsrequest.rescues_night_shift %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-user-md"></span> {% trans "rescues shifts"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        {% if dpsrequest.rescues_day_shift %}
            <li class="list-group-item">
                {% trans "rescuers attendance by day"|capfirst %}
            </li>
        {% endif %}
        {% if dpsrequest.rescues_night_shift %}
            <li class="list-group-item">
                {% trans "rescuers attendance by night"|capfirst %}
            </li>
        {% endif %}
    </ul>
{% endif %}
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-ambulance"></span> {% trans "nature of the dps request"|capfirst %}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">
        {% trans "age scale : from"|capfirst %} {{ dpsrequest.age_scale_from }} {% trans "to" %} {{ dpsrequest.age_scale_to }} {% trans "years" %}
    </li>
    <li class="list-group-item">
        {% trans "people with special needs"|capfirst %} : {{ dpsrequest.people_with_special_needs }}
    </li>
    <li class="list-group-item">
        {% trans "specific risks"|capfirst %} : {{ dpsrequest.specific_risks }}
    </li>
    <li class="list-group-item">
        {% trans "public attendance duration"|capfirst %} : {{ dpsrequest.public_attendance_duration }} {% trans 'hours'|capfirst %}
    </li>
    <li class="list-group-item">
        {% trans "participants attendance duration"|capfirst %} : {{ dpsrequest.participants_attendance_duration }} {% trans 'hours'|capfirst %}
    </li>
    <li class="list-group-item">
        {% trans "predictable public attendance"|capfirst %} : {{ dpsrequest.public_declared }} {% trans 'people'|capfirst %}
    </li>
    <li class="list-group-item">
        {% trans "gathering activity"|capfirst %} : {{ dpsrequest.get_gathering_activity_display|capfirst }}
    </li>
    <li class="list-group-item">
        {% trans "site accessibility"|capfirst %} : {{ dpsrequest.get_site_accessibility_display|capfirst }}
    </li>
    <li class="list-group-item">
        {% trans "intervention time"|capfirst %} : {{ dpsrequest.get_intervention_time_display|capfirst }}
    </li>
    <li class="list-group-item">
        {% trans "ris"|capfirst %} : {{ dpsrequest.ris }}
    </li>
    <li class="list-group-item">
        {% trans "number of rescuers"|capfirst %} : {{ dpsrequest.get_rescuers_number }}
    </li>
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-ambulance"></span> {% trans "site's accessibility"|capfirst %}</h3>
</div>
<ul class="list-group">
    {% if dpsrequest.permanent_structure %}
        <li class="list-group-item">
            {% trans "permanent structure"|capfirst %}
        </li>
    {% endif %}
    {% if dpsrequest.non_permanent_structure %}
        <li class="list-group-item">
            {% trans "non permanent structure"|capfirst %}
        </li>
    {% endif %}
    {% if dpsrequest.public_space %}
        <li class="list-group-item">
            {% trans "public space"|capfirst %}
        </li>
    {% endif %}
    <li class="list-group-item">
        {% trans "area length"|capfirst %} : {{ dpsrequest.area_length }} km
    </li>
    <li class="list-group-item">
        {% trans "stretcher range"|capfirst %} : {{ dpsrequest.stretcher_range }} m
    </li>
    <li class="list-group-item">
        {% trans "ground slope"|capfirst %} : {{ dpsrequest.ground_slope }} %
    </li>
    <li class="list-group-item">
        {% trans "other access difficulties"|capfirst %} : {{ dpsrequest.other_access_difficulties }}
    </li>
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-h-square"></span> {% trans "nearest emergencies services"|capfirst %}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">
        {% trans "fire service"|capfirst %} : {{ dpsrequest.fire_service }}
    </li>
    <li class="list-group-item">
        {% trans "nearest hospital"|capfirst %} : {{ dpsrequest.nearest_hospital }}
    </li>
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-medkit"></span> {% trans "other emergencies on the spot"|capfirst %}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">
        {% trans "public assistance"|capfirst %} : {{ dpsrequest.public_assistance.name }}
    </li>
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-stethoscope"></span> {% trans "logistics"|capfirst %}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">
        {% trans "logistics available"|capfirst %} : {{ dpsrequest.logistic_available }}
    </li>
    <li class="list-group-item">
        {% trans "meal provided"|capfirst %} : {{ dpsrequest.meal_provided|yesno|title }}
    </li>
    <li class="list-group-item">
        {% trans "kitchen available"|capfirst %} : {{ dpsrequest.kitchen_available|yesno|title }}
    </li>
</ul>
{% include 'medical_requests/medicalcontacts_detail.html' with contacts=dpsrequest.medical_contact %}
{% include 'medical_requests/interventions_detail.html' with interventions=dpsrequest.intervention_set.all only %}
{% include 'medical_requests/evacuations_detail.html' with evacuations=dpsrequest.evacuation_set.all %}
