{% extends "events/base_form.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "dps request form"|capfirst %}{% endblock %}
{% block page_title %}
    <h1>{% trans "dps request form"|capfirst %}</h1>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post">
        {% crispy form %}
        {% for form in inlines %}
            <fieldset>
                {% if forloop.counter == 1 %}
                    <legend>{% trans 'medical contacts'|capfirst %}</legend>
                {% elif forloop.counter == 2 %}
                    <legend>{% trans 'last edition interventions'|capfirst %}</legend>
                {% else %}
                    <legend>{% trans 'last edition evacuations'|capfirst %}</legend>
                {% endif %}
                {% crispy form form.form.helper %}
            </fieldset>
        {% endfor %}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="{% trans 'submit'|capfirst %}" name="save">
            </input>
        </div>
    </form>
{% endblock %}
