{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% endblock %}
{% block page_title %}
    <h1>{{ object }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#event" data-toggle="pill">{% trans "event"|capfirst %}</a></li>
                <li><a href="#dps" data-toggle="pill">{% trans "associated dps request"|capfirst %}</a></li>
            </ul>
            <div class="tab-content">
                <div id="event" class="panel panel-default tab-pane fade in active">
                    {% include 'events/event_description.html' with  object=dpsrequest.content_object %}
                </div>
                <div id="dps" class="panel panel-default tab-pane fade">
                    {% include 'medical_requests/dpsrequest_description.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
