{% load i18n %}
{% load humanize %}

{% if evacuations.first %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-ambulance"></span> {% trans "last edition evacuations"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        {% for evacuation in evacuations %}
            <li class="list-group-item">
                {{ evacuation.sort|capfirst }} : {{ evacuation.number|apnumber|capfirst }} 
            </li>
        {% endfor %}
    </ul>
{% endif %}
