{% load i18n %}
{% load humanize %}

{% if interventions.first %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-user-md"></span> {% trans "last edition interventions"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        {% for intervention in interventions %}
            <li class="list-group-item">
                {{ intervention.sort|capfirst }} : {{ intervention.number|apnumber|capfirst }} 
            </li>
        {% endfor %}
    </ul>
{% endif %}
