{% load i18n %}

{% if contacts.first %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-phone-square"></span> {% trans "medical contacts"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        {% for contact in contacts.all %}
            <li class="list-group-item">
                {{ contact.get_activity_display|capfirst }} : {{ contact.first_name|capfirst }} {{ contact.last_name|capfirst }} - {{ contact.phone }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
